<% @page_title = @collection.name %>

<div class="card-columns">
  <%= render "public/collections/show/considering", **@considering.to_h %>
  <%= render "public/collections/show/doing", **@doing.to_h %>
</div>

<%= render "public/collections/show/closed", **@closed.to_h %>
